.active_dd {
  background-color: rgb(248, 211, 217);
}

.seccionPrincipal {
  height: 80vh;
  background-image: url(../img/portada.jpg);
  background-size: cover;
}
.seccionPrincipal .titulo_portada {
  background-color: rgba(165, 42, 42, 0.514);
}

.titulo_productos {
  background-color: rgb(248, 211, 217);
  color: #3b3a3a;
  display: flex;
  justify-content: center;
}

.indice__productos {
  background-image: url(../img/fondo_catalogo1.webp);
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "c_an c_ar c_co c_pu";
}
.indice__productos .grilla_celda {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
}
.indice__productos .grilla_celda .card:hover {
  transform: scale(1.05);
}

.card_anillos {
  grid-area: c_an;
  width: 100%;
}

.card_aros {
  grid-area: c_ar;
  width: 100%;
}

.card_collares {
  grid-area: c_co;
  width: 100%;
}

.card_pulseras {
  grid-area: c_pu;
  width: 100%;
}

.btn_catalogo {
  background-color: rgb(248, 211, 217);
  border-color: rgb(248, 211, 217);
}
.btn_catalogo:hover {
  background-color: orange;
  border-color: orange;
}

.piePagina {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(248, 211, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.piePagina a {
  text-decoration: none;
  color: rgb(83, 80, 80);
}
.piePagina .redes_sociales {
  display: flex;
  flex-direction: column;
}
.piePagina .redes_sociales .link_footer {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.piePagina .redes_sociales .link_footer a .icono_social {
  font-size: 37px;
  color: rgb(83, 80, 80);
}
.piePagina .redes_sociales .link_footer a .icono_social:hover {
  color: rgb(165, 42, 42);
}

.contacto {
  display: grid;
  grid-column: 1fr 1fr;
  grid-template-areas: "c1 c2";
}
.contacto .contacto_info {
  height: 80vh;
  grid-area: c1;
  background-color: rgb(165, 42, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.contacto .contacto_form {
  grid-area: c2;
  padding: 30px;
}

.img__carrusel {
  height: 80vh;
  width: 50%;
}

.quienessomos_grid {
  display: grid;
  grid-template-areas: "q1 q2";
}
.quienessomos_grid .quienes1 {
  background-image: url(../img/michicho_H.jfif);
  background-size: cover;
  width: 100%;
  grid-area: q1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.quienessomos_grid .quienes1 .tarjeta {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.quienessomos_grid .quienes2 {
  grid-area: q2;
  width: 100%;
  height: 577.28px;
}

.texto_tarjeta {
  display: flex;
  justify-content: space-between;
}
.texto_tarjeta .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.borde_titulo {
  border-top: 1px solid rgb(165, 42, 42);
  border-bottom: 1px solid rgb(165, 42, 42);
}

.desc_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .indice__productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c_an c_ar" "c_co c_pu";
  }
  .piePagina {
    flex-direction: column;
  }
  .quienessomos_grid {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    grid-column: 1fr;
    grid-template-areas: "c2" "c1";
  }
}
@media screen and (max-width: 576px) {
  .indice__productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "c_an" "c_ar" "c_co" "c_pu";
  }
  .link_footer {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=estilos.css.map */