.borde_titulo {
    border-top: 1px solid $color3;
    border-bottom: 1px solid $color3;
    
}

.desc_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}