.contacto {
    background-image: url(../img/fondo_catalogo1.webp);
    background-size: cover;
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: "c1 c2";
    

    .contacto_info {
        height: 80vh;
        grid-area: c1;
        background-color: $color4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }

    .contacto_form {
        grid-area: c2;
        padding: 30px;
    }
}

.btn_contacto {
    background-color: $color3;
    border-color: $color3;

    &:hover{
        background-color: $color2;
        border-color: $color2;
    }
}



