.quienessomos_sec {
    background-image: url(../img/michicho_H.jfif);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 80vh;
    
    h4{
        background-color: $color4;
        text-align: center;
        color: white;
    }

    .equipo{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
      
}




