.seccionPrincipal {
    height: 80vh;
    background-image: url(../img/portada.jpg);
    background-size: cover;

    .titulo_portada {
        background-color: $color4;
        text-align: center;
    }
}

